* {
    padding: none;
    margin: none;
}

a {
    color: black;
    text-decoration: none;
}

body {
    background-color: #323b44;
}

div {
    border-radius: .4rem;
    width: 264px;
    padding: 36px;
    margin: 50px auto 60px;
    background-color: #36404a;
    color: #8691a0;
    font: 13px Poppins, sans-serif;
}

@media screen and (min-width: 400px) {
    div {
        border-radius: .4rem;
        width: 600px;
        padding: 36px;
        margin: 60px auto;
        background-color: #36404a;
        color: #8691a0;
        font: 13px Poppins, sans-serif;
    }
}

h3 {
    font-family: 微软雅黑;
    text-align: right;
    font-weight: 300px;
}

h2 {
    font-family: 微软雅黑;
    font-weight: 300px;
}